In [62]:
### combing alll the file together

In [12]:
import pandas as pd
import glob

all_data = pd.DataFrame()
allfiles = glob.glob( "roughdata/roughdata/*.csv" )

for f in allfiles:
    df = pd.read_csv(f)
    all_data = all_data.append(df,ignore_index=True)    


all_data.drop(columns=['Title'],inplace=True)
all_data.drop(columns=['Unnamed: 0'],inplace=True)

all_data.to_csv("all_no_title.csv",index=False) 

print('done')

### next move to findskill
all_data

done

                                             Description
0      About Us\nMeet the together-travel company. La...
1      Company description\nSince 2009 Canadian Solar...
2      or equivalent experience\nArea of Specializati...
3      What is the role?\nAs a\nDigital Account Strat...
4      or equivalent experience\nBusiness Equipment a...
...                                                  ...
13995  Game Hive is building a new generation of casu...
13996  Business Equipment and Computer Applications\n...
13997  Specific Skills\nWrite, modify, integrate and ...
13998  Computer Technology/Computer Systems Technolog...
13999  or equivalent experience\nBusiness Equipment a...

[14000 rows x 1 columns]